@media (min-width: 480px) {
    .filtering-form {
        max-width: 1200px;
        width: 95%;
        margin: 20px;
        padding: 10px;
        border-style: solid;
        border-color: #222e50;
        background-color: #1d2951;
        color: #FFFFFF;
        border-radius: 6px;
        box-shadow: 0.5px 0.5px 0.5px;
    }
}

@media (max-width: 480px) {
    .filtering-form {
        width: 90%;
        margin: 20px;
        padding: 10px;
        border-style: solid;
        border-color: #222e50;
        background-color: #1d2951;
        color: #FFFFFF;
        border-radius: 6px;
        box-shadow: 0.5px 0.5px 0.5px;
    }
}