/*  modifies the carousel to sit flush against the background on computer monitors 
 *	reverts back to old image if the screen size gets to small to keep it responsive
 */
@media (min-width: 1200px) { 
	.carousel {
		position: relative;
		right: 15px;
		width: 1200px;
	}
	.carousel-img {
	  object-fit: cover;
	  object-position: center;
	  height: 600px;
		width: 100%;
	}
}

@media (max-width: 1200px) { 
	.carousel-img {
	  object-fit: cover;
	  object-position: center;
	  height: 400px;
		width: 100%;
	}
}

@media (max-width: 600px) {
	.carousel-img {
		object-fit: cover;
  	object-position: center;
  	height: 300px;
		width: 100%;
	}

	.text-right {
		clear: left;
	}

	.text-left {
		clear: right;
	}
}

.carousel-caption {
  text-shadow: 3px 3px black;
}

.detail-img-right {
	float: right;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	border-radius: 5px;
}

.detail-img-left {
	float: left;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	border-radius: 5px;
}