.carousel-caption {
  text-shadow: 3px 3px black;
}

.carousel-img {
  object-fit: cover;
  object-position: center;
  height: 600px;
  width: 100%; 
}

.model-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
	border-radius: 15px;
}