{% extends "base.html" %}

{% block body %}

<div class="row">
  <h1 class="float-left mr-3">{{ content.name }}</h1>
  <div class="col-sm-8">
    <h3>About</h3>
    <p>Label: {{content.label}}<br/>
        Release Year: {{content.release_date[:-6]}}<br/>
        Artist(s): {{content.artists[0].name}}<br/>
    </p>
    <h3>Track List</h3>
    <ol>
        {% for song in track.tracks%}
        <li>{{song.name}}</li>
        {% endfor %}
    </ol>
  </div>

  <div class="col-sm-4">

    <img class="mb-3" src="{{ content.images[1].url }}" width=350 height=350 alt="{{content.name}} album cover" >
    <iframe src="https://open.spotify.com/embed?uri={{content.uri}}"
        width="350" height="380" frameborder="0" allowtransparency="true"></iframe>
  </div>


</div>

{% endblock %}  