{% extends "base.html" %}

{% block body %}

<div class="container">
	{% set type = 'TV Show' %}
	{% if content.name %}
		<h1>{{content.name}}</h1>
	{% else %}
		{% set type = 'Movie' %}
		<h1>{{content.title}}</h1>
	{% endif %}

	{% set years = '' %}
	{% if type == 'TV Show' %}
		{% set last = content.last_air_date[:-6] %}
		{% if last == '2018' %}
			{% set last = 'Present' %}
		{% endif %}
	{% set years = content.first_air_date[:-6] + ' - ' + last %}
	{% else %}
		{% set years = content.release_date[:-6]%}
	{% endif %}

	<h4>{{type}} | {{years}}| {{content.genres|join(', ', attribute='name')}}</h4>
	<div class="row">
		<div class="col-sm-8">
			<h3><u>About</u></h4>
			<p>{{content.overview}}</p>
			<h3><u>Cast</u></h3>
			<ul>
				{% for actor in cast.cast%}
					<li>{{actor.name}}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-sm-4">
			<img class="img-responsive" src="http://image.tmdb.org/t/p/w500/{{content.poster_path}}" width=350 height=450>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<iframe width="480" height="270" src="//www.youtube.com/embed/{{video.results[0].key}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
		<div class="col-sm-6">
			<h3><u>Photos</u></h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h3><u>Soundtracks</u></h3>
		</div>
		<div class="col-sm-6">
			<h3><u>Artists</u></h3>
		</div>
	</div>
</div>
{% endblock %}