<nav class="navbar navbar-expand-md navbar-light" style="background-color: #d0e2f2">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">SoundtrackDB</a>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/album">Albums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/artist">Artists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tv-movie">Movies/TV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
