{% extends "base.html" %}

{% block body %}
<h3>Albums</h3>

<div class="row">
  {% for item in albums_data %}
  <div class="col-12 col-md-4 col-lg-3" style="cursor: pointer;"
       onclick="window.location = {{ '\"' + item['linkUrl'] + '\"' }};">
    <div class="card mb-3">
      <img class="card-img-top" src="{{ item.images[0].url }}">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ item.release_date[:4] }}</h6>
        <p class="card-text">{{ item.tracks.total }} {{ 'Track' if item.tracks.total == 1 else 'Tracks' }}</p>
      </div>
    </div>
  </div>
  {% endfor %}

</div>

{% endblock %}